/*catalogo asesoria en Contacto.html*/
.catalogo {
    position: relative;
    width: 100%;
    margin: 5%;
}
.catalogo::after {
    content: '';
  
    height: 350px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  @media (min-width: 900px) {
    .catalogo {
      padding: 0 0 25px;
    }
  }
  .panel {
    background-color: #DEAAA8;
    border-radius: 10px;
    position: relative;
    width: 90%;
    z-index: 10;
  }
  .precios-tabla {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 900px) {
    .precios-tabla {
      flex-direction: row;
    }
  }
  .precios-tabla * {
    text-align: center;
  }
  
  @media (min-width: 900px) {
    .precios-plan {
      border-bottom: none;
      border-right: 1px solid #ffffff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
    .precios-plan:last-child {
      border-right: none;
    }
  }
  .precios-img {
    padding: 20px;
    margin-bottom: 25px;
    max-width: 100%;
  }
  .precio-header {
    font-family: $fontTitle;
    color: $colorContrast;
    font-weight: bolder;
    letter-spacing: 1px;
  }
  .precio-cualidades {
    font-family: $fontText;
    color: $colorContrast;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
  }
  .precio-cualidades-item {
    border-top: 1px solid #e1f1ff;
    font-size: 1rem;
    line-height: 1.5;
    padding: 20px 0;
  }
  .precio-p {
    color: $colorshadow;
    display: block;
    font-size: 2rem;
    font-weight: 700;
  }
  .pricing-button {
    border-radius: 20px;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  .pricing-button.is-featured {
    background-color: $colorshadow;
    color: $colorContrast;
    font-weight: bold
  }
  .pricing-button.is-featured:hover, .pricing-button.is-featured:active {
    background-color: green;
}
/*Fin catalogo asesoria en Contacto.html*/