/*boton*/
.button {
    display: flex;
    place-content: center;
    text-decoration: none;
    background: $colorHead;
    border: transparent;
    border-radius: 28px;
    color: $colorContrast;
}


/*boton asesoria*/
.animate__animated.animate__headShake {
    --animate-duration: 2s;
}

#navButton, #suscribeButton {
    background-image: $colorHead;
    border: transparent;
    border-radius: 28px;
    color: $colorContrast;
}