/*Cards terapia floral*/
.card {
    background: gainsboro;
    border: transparent;
  }
  .cardHeading {
    font-family: $fontTitle;
    font-size: 1.3rem;
    color: black;
    text-align: center;
  }
  
  .cardText {
    font-family: $fontText;
    color: black;
    font-size: 0.9rem;
    text-align: left;
  }
  
  .card-button {
    font-size: 0.8rem;

  }