.footer {
    background-color:#484852;
    padding: 5px;
    color: $colorContrast;

    .maps {
        display: flex;
        flex-direction: row;
        place-content: center;
        padding: 10px;
        border-radius: 3%;
    }

    .footerTitles {
        font-family: $fontTitle;
        font-size: 1rem;
        text-align: center;
        color: $colorTitle;
        padding: 10px;
        text-decoration: underline 3px;
    }

    .footerText {
        font-family: $fontText;
        color: $colorContrast;
        font-size: 1em;
        text-align: justify;
    }

    .socialContainer {
        display: flex;
        flex-direction: column;
    }

    .socialItem {
        padding: 5px;
        width: 50px;
        height: 50px;
    }

    .socialContainer a {
        text-decoration: none;
        color: white;
    }
}
