.footer {
    background-color:#484852;
    padding: 5px;
    margin-top: 100px;
    color: $colorContrast;
        .footerTitles {
            font-family: 'Quicksand', sans-serif;
            font-size: 18px;
            text-align: center;
            color: $colorTitle;
            padding: 10px;
            text-decoration: underline 3px;
                .footerText {
                    font-family: 'Raleway', sans-serif;
                    color: $colorContrast;
                    text-align: justify;
                        .socialItem {
                            padding: 5px;
                        }
                }
        }
}