/*Acordeon*/
.accordion-button {
  background: $colorHead;
  font-family: $fontTitle;
  font-size: 1.5rem;
  color: $colorContrast;
}

.accordion-button:not(.collapsed) {
  font-size: 1.5rem;
  color: $colorContrast;
}
/*Fin acordeon*/