/*Portadas*/
.gradient-overlay {
    position: relative;

    &after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom right, red, blue);
        opacity: 0.5;
    }
}
/*Fin portadas*/