/*Portadas*/
@mixin bg-parametros {
    background-size: cover;
    height: 50vh;
    color: $colorContrast;
    font-family: $fontTitle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coverImage-1 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../multimedia/definicion/portada.jpg) local center no-repeat;
    @include bg-parametros
}
.coverImage-2 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../multimedia/beneficios/portada.jpg) local center no-repeat;
    @include bg-parametros
}
.coverImage-3 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../multimedia/ingredientes/portada.jpg) local center no-repeat;
    @include bg-parametros
}
.coverImage-4 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../multimedia/calculadora/portada.jpg) local center no-repeat;
    @include bg-parametros
}
.coverImage-5 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../multimedia/recetas/portada.jpg) local center no-repeat;
    @include bg-parametros
}
.coverImage-6 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../multimedia/zen/portada.jpg) local center no-repeat;
    @include bg-parametros
}
.coverImage-7 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../multimedia/contacto/portada.jpg) local center no-repeat;
    @include bg-parametros
}
.coverImage-8 {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url(../multimedia/asesorias/portada.jpg) local center no-repeat;
    @include bg-parametros
}