$colorHead: radial-gradient(circle at 74.18% -16.45%, #ffc376 0, #f9b374 16.67%, #eba270 33.33%, #d8906c 50%, #c47f67 66.67%, #b17162 83.33%, #a1665e 100%);
$colorTitle:#FBC053;
$colorContrast:white;
$colorshadow: gray;
$sombra: 5px 5px 5px 5px gray;
$fontTitle: 'Quicksand', sans-serif;
$fontText: 'Raleway', sans-serif;